
h1{
    color: white;
     font-size: 40px;
    font-family: $primary-font;
    font-weight: 600;
    text-align: left;
    padding-bottom: .15em;
    @include breakpoint(sm){        
        font-size: 60px;
    }
    @include breakpoint(md){        
        font-size: 50px;
    }
    @include breakpoint(lg){        
        font-size: 55px;
    }
    @include breakpoint(xlg){        
        font-size: 60px;
    }
    
     
  }

.hero{     
    text-align: left;
    background-color: inherit;   
    align-items: center;
    padding-top:50px;
    

   
   
 
}
.pad-top{
    padding-top: 15vh;
    @include breakpoint(md){ 
        padding: 22vh 0 0 0 ;
       
    }
   
}
.hero-image{
    padding: 0 15vw 0 25vw;
    @include breakpoint(sm){        
        padding: 0 20vw;
    }
    @include breakpoint(md){        
        padding: 0 0 0 0;
    }
}
.subheading{
    font-family: $secondary-font;   
    color: white;
    font-size: 18px;  
  
    
    @include breakpoint(sm){        
        font-size: 30px;
    }
    @include breakpoint(md){        
        font-size: 22px;
    }
    @include breakpoint(lg){        
        font-size: 25px;
    }
    @include breakpoint(xlg){        
        font-size: 28px;
    }
}


