@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  box-shadow: none;
}

ul {
  list-style-type: none;
}

.light-back2 {
  background: var(--sbg);
}

.back {
  background: var(--bg);
}

.light-back1 {
  background: white;
}

.secondary-back {
  background: #213600;
}

.primary-back {
  background: red;
}

.secondary-color {
  color: #213600;
}

.primary-color {
  color: red;
}

/* Nav Colors */
h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-bottom: 0.25em;
}

li {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}
@media (min-width: 1024px) {
  li {
    font-size: 22px;
  }
}

h1 {
  color: white;
  font-size: clamp(30px, 5.5vw, 90px);
  font-family: "Poppins", sans-serif;
  line-height: 105%;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 60px;
  }
}

h3 {
  color: white;
  font-size: 30px;
  text-align: center;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 45px;
  }
}

.secondary-font {
  color: #213600;
}

h4 {
  color: black;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

h5 {
  color: black;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 18px;
  }
}

p {
  font-size: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .flex {
    flex-direction: row;
  }
}
.flex-center {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .flex-center {
    flex-direction: row;
  }
}
.flex-reverse {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1024px) {
  .flex-reverse {
    flex-direction: row;
  }
}

.col-1 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-1 {
    width: 8.3333333333%;
  }
}
.col-2 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-2 {
    width: 16.6666666667%;
  }
}
.col-3 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-3 {
    width: 25%;
  }
}
.col-4 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-4 {
    width: 33.3333333333%;
  }
}
.col-5 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-5 {
    width: 41.6666666667%;
  }
}
.col-6 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-6 {
    width: 50%;
  }
}
.col-7 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-7 {
    width: 58.3333333333%;
  }
}
.col-8 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-8 {
    width: 66.6666666667%;
  }
}
.col-9 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-9 {
    width: 75%;
  }
}
.col-10 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-10 {
    width: 83.3333333333%;
  }
}
.col-11 {
  width: 100%;
}
@media (min-width: 1024px) {
  .col-11 {
    width: 91.6666666667%;
  }
}
.col-12 {
  width: 100%;
}

.gap-1em {
  gap: 1em;
}

.gap-2 {
  gap: 2vh;
}

.gap-3em {
  gap: 3em;
}

.gap-5em {
  gap: 5em;
}

.pad-3em {
  padding: 3em;
}

.pad-10 {
  padding: 10vh 10vw;
}

.pad-5 {
  padding: 5vh 5vw;
}

.v-pad-5 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.h-pad-10 {
  padding-left: 10vh;
  padding-right: 10vh;
}

.v-pad-1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.v-pad-10 {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.alt-background {
  background: #1B202B;
}

.vertical-padding {
  padding: 10vh 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.mobile-hide {
  display: none;
}
@media (min-width: 1024px) {
  .mobile-hide {
    display: block;
  }
}

.button {
  padding: 0.2em 1em;
}
@media (min-width: 1024px) {
  .button {
    padding: 0.75em 2em;
  }
}
.button.primary {
  background: red;
  cursor: pointer;
}
.button.primary:hover {
  background: #ac0555;
}
.button.primary:active {
  background: rgb(255, 196, 0);
}
.button.primary p {
  color: white;
  font-size: 30px;
}
.button.secondary {
  background: inherit;
  cursor: pointer;
  border: 1px solid white;
}
.button.secondary p {
  color: white;
}
@media (min-width: 1024px) {
  .button {
    padding: 0.75em 3em;
  }
}

/************ BURGER ***********************/
#hamburger-wrap {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 1000;
  margin-left: auto;
}
@media (min-width: 1024px) {
  #hamburger-wrap {
    display: none;
  }
}

.burger-open {
  width: 100%;
  height: 100%;
}

.line {
  position: absolute;
  height: 10%;
  width: 70%;
  background: red;
  box-shadow: 0.5px 0.5px black;
  border-radius: 10px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.line01 {
  top: 25%;
}

.line02 {
  top: 47%;
}

.line03 {
  top: 69%;
}

.burger-close .line {
  box-shadow: none;
  background: #213600;
}

.burger-close .line01 {
  transform: rotate(45deg);
  top: 49%;
}

.burger-close .line02, .burger-close .line03 {
  transform: rotate(-45deg);
  top: 49%;
}

/**************************************END HAMBURGER*******************************/
.navagation-wrap.mobile-wrap #hamburger-wrap {
  position: fixed;
  z-index: 100000;
  right: 25px;
} /*Hack for keeping hamburger in place  */
#active {
  color: rgb(255, 196, 0);
}

#main-nav-wrap {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  align-items: center;
  transition: background 0.5s;
  position: absolute;
  width: 100%;
}
@media (min-width: 1024px) {
  #main-nav-wrap {
    padding: 10px 7vw 0;
    transition: background 0s;
  }
}
@media (min-width: 1280px) {
  #main-nav-wrap {
    padding: 10px 7vw 0;
  }
}
#main-nav-wrap .logo-wrap {
  width: 60px;
}
@media (min-width: 1024px) {
  #main-nav-wrap .logo-wrap {
    width: 80px;
  }
}
#main-nav-wrap .logo-wrap:hover {
  opacity: 0.5;
}
#main-nav-wrap .mobile-phone {
  margin-left: 25px;
}
@media (min-width: 1024px) {
  #main-nav-wrap .mobile-phone {
    display: none;
  }
}

.responsive-nav.mobile-nav .nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 18vh 10vw 10% 10vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: red;
  z-index: 1000;
  text-align: center;
}
@media (min-width: 1024px) {
  .responsive-nav.mobile-nav .nav {
    padding: 0;
    width: auto;
    position: relative;
    flex-direction: row;
    height: auto;
    background: inherit;
    margin: 0.75em;
  }
}

.responsive-nav.mobile-nav .nav a {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 35px;
  line-height: 120%;
  margin: 40px 0;
}
@media (min-width: 1024px) {
  .responsive-nav.mobile-nav .nav a {
    font-size: 20px;
    margin: 0.5em;
    padding: 0.5em;
    color: white;
  }
}
.responsive-nav.mobile-nav .nav a:hover {
  color: #ac0555;
}
.responsive-nav.mobile-nav .nav a:active {
  color: rgb(255, 196, 0);
}

.nav {
  position: fixed;
  right: -100vw;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .nav {
    width: auto;
    position: relative;
    margin: 0.75em;
    display: flex;
    flex-direction: row;
    height: auto;
    background: inherit;
    left: 0;
    transition: none;
  }
}

@media (min-width: 1024px) {
  .nav a {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 120%;
    margin: 0.5em;
    padding: 0.5em;
    text-transform: capitalize;
  }
}
.nav a:hover {
  color: #ac0555;
}
.nav a:active {
  color: rgb(255, 196, 0);
}

.active {
  color: rgb(255, 196, 0) !important;
}

.nav-button {
  display: none;
}
@media (min-width: 1024px) {
  .nav-button {
    display: block;
    box-sizing: border-box;
    padding: 0.25em 0.75em;
    background: none;
    border: 3px solid red;
    color: red;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 0.5em;
    cursor: pointer;
  }
  .nav-button:hover {
    font-weight: normal;
    background: #ac0555;
    border-color: #ac0555;
    color: white;
  }
  .nav-button:active {
    color: rgb(255, 196, 0);
  }
}

.hero {
  height: 110vh;
  text-align: center;
  background-color: inherit;
 
  align-items: center;
}
.hero h1 {
  color: white;
  font-size: clamp(35px, 3.5vw, 70px);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1024px) {
  .hero h1 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .hero {
    padding: 0 7vw;
    text-align: left;
  }
}

.pad-top {
  padding-top: 15vh;
}
@media (min-width: 1024px) {
  .pad-top {
    padding: 22vh 0 0 0;
  }
}

.hero-image {
  padding: 0 0 0 5vw;
}

.subheading {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ac0555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: rgb(255, 196, 0);
}

.frame-content {
  background: #020714;
  color: white;
}

.arrow {
  position: absolute;
  width: 5em;
  left: 43%;
  bottom: 10vh;
}

.blog-article {
  border-radius: 25px;
  border: solid 5px red;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 150% 150%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
.blog-article:hover {
  background-size: 200% 200%;
  border-color: white !important;
}
.blog-article:hover h1 {
  color: rgb(187, 178, 178);
}
.blog-article:hover p {
  color: rgb(187, 178, 178);
}

.cover {
  width: 110%;
  height: 110%;
  background: black;
  position: absolute;
  left: -10%;
  top: -10%;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(23, 23, 24, 0.3) 0%, #222024 100%);
}

.feature {
  height: 60vh;
  padding: 1em 1.5em;
}
@media (min-width: 1024px) {
  .feature {
    padding: 2em 3em;
  }
}
.feature h1 {
  font-size: 40px;
}
@media (min-width: 1024px) {
  .feature h1 {
    font-size: 70px;
  }
}
.feature h2 {
  font-size: 50px;
}
.feature .tag-flag {
  padding: 0.2em 1em;
}
@media (min-width: 1024px) {
  .feature .tag-flag {
    padding: 0.5em 2em;
  }
}
.feature .tag-flag span {
  font-size: 18px;
}
@media (min-width: 1024px) {
  .feature .tag-flag span {
    font-size: 22px;
  }
}

.nnn {
  width: calc(100% - 1vh);
}
@media (min-width: 1024px) {
  .nnn {
    width: calc(100% - 1vh);
  }
}
@media (min-width: 1280px) {
  .nnn {
    width: calc(50% - 1vh);
  }
}

.normal {
  height: 29vh;
  padding: 1em 1.5em;
}
.normal p {
  display: none;
}
.normal h1 {
  font-size: 40px;
}
.normal .tag-flag {
  padding: 0.2em 1em;
}
.normal span {
  font-size: 18px;
}

.tag-flag {
  color: white;
  background: red;
  bottom: 0px;
  left: 0px;
  border-radius: 25px;
  max-width: 15em;
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1em;
}

.article {
  height: 22.5vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.blog-content img {
  width: 100%;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 3vh 0;
}
.blog-content h2 {
  padding: 5vh 0;
}
.blog-content p {
  padding: 1em 0;
}

.wrap {
  flex-wrap: wrap;
}

.card-container {
  flex-wrap: wrap;
  justify-content: center;
}
.card-container .card {
  min-width: 25vw;
}
.card-container .card img {
  width: 100%;
}

.cardOne {
  background: inherit;
}

.cardTwo {
  background: #1B202B;
  text-align: center;
}
.cardTwo div {
  text-align: center;
}
.cardTwo img {
  height: 40px;
}

.icon {
  width: 75px;
}

.tag-box {
  padding: 1em;
  font-size: 20px;
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 20px;
  color: white;
}
.tag-box:hover {
  background-color: #ac0555 !important;
}
.tag-box:active {
  background-color: rgb(255, 196, 0) !important;
}
.tag-box p {
  font-size: 20px;
}

.main-wrap {
  padding: 0 3vw;
  background-color: #020714;
}
@media (min-width: 1024px) {
  .main-wrap {
    padding: 0 5vw;
  }
}
@media (min-width: 1280px) {
  .main-wrap {
    padding: 0 10vw;
  }
}

.blog-wrap {
  padding: 20vh 0vw;
  background-color: #020714;
}
@media (min-width: 1024px) {
  .blog-wrap {
    padding: 20vh 2vw;
  }
}
@media (min-width: 1280px) {
  .blog-wrap {
    padding: 20vh 3vw;
  }
}

.button-container {
  margin-top: 4em;
  display: flex;
}
.button-container p {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */