
.social-media-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    img{
        width: 50px;
    }

    @include breakpoint(md){ 
        position: absolute;
        right: 0;
        bottom: 0%;
        text-align: right;
        width: 100px;
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
      

        a{
            margin: 10px 0;
            
        }
        
    }
a{
    &:hover{
        opacity: .7;
    }
}
  
  
    }